:host .container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("../../assets/images/background.png") center center;
  background-size: cover;
  background-attachment: fixed;
}
:host .title {
  max-width: 400px;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -170px 0 0 -200px;
  color: #ddd;
  text-align: center;
  font-size: 2em;
}
.login-form {
  max-width: 300px;
  width: 30vh;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
  color: brown;
}

.login-form-button {
  width: 100%;
}
